{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/parallax.min.js"></script>
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="/static/css/index.css" />
<link type="text/css" rel="stylesheet" href="/static/css/image-overlay.css" />
{% endblock %}

{% block content %}

<div class="row">
  <div class="col hero-section justify-content-center align-items-middle">
    <div class="hero-section" style="background: none;">
      <div class="parallax-window" data-parallax="scroll" data-image-src="/static/img/unsplashskyline.jpg" style="height: 100%;"
        data-z-index="-1">
      </div>
      <div class="text-overlay">
        <h1>A STUDENT WHO IS WILLING TO LEARN.</h1>
      </div>
    </div>
  </div>
</div>
<div class="mask-bg">
  <div class="row hero-under-banner">
    <div class="col">
      <div class="container" style="max-width: 1600px;">
        <div class="row align-items-center mobile-pad" style="min-height: 50px;">
          <div class="col-sm-4 text-pad">
            Mukesh Saravanan
          </div>
          <div class="col-sm-4 text-pad">
            iammukesh28@gmail.com
          </div>
          <div class="col-sm-4 text-pad">
            Eastern SF Bay Area, CA
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-content-container2" style="margin-top: 40px;">
    <div class="row">
      <div class="col blurb-section">
        <p>I'm a student passionate about programming, tech and</p>
        <p>being a great person to work with and be with.</p>
        <p>Intrigued by cars, biking, coding, and always learning more.</p>
        <p>Check out what I've done.</p>
      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 30px;">
    <div class="row">
      <div class="col section-header">
        Extracurricular Activities
      </div>
    </div>
    
    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Project 1
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              SyntHacks 2 - 2022
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Made my very first app mockup</p>
              <p>Here are some action steps I took:</p>
              <ul>
                <li class="main-li">I chose the idea of an app that provides activities 
                  based on the occasion.
                </li>
                <li class="sub-li">Downloaded the iOS app pack</li>
                <li class="sub-li">Tried my best to make it seem like an app.</li>
                <li class="main-li">Final project called ProvFun.</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Project 2
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2019 - Jan 2020
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Here is what I did for this project</p>
              <p>Here are some action steps I took</p>
              <ul>
                <li class="main-li">I planned this out</li>
                <li class="sub-li">Step 1</li>
                <li class="sub-li">Step 2</li>
                <li class="main-li">I executed this</li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Projects
      </div>
    </div>
    
    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Project 1
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2020 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Here is what I did for this project</p>
              <p>Here are some action steps I took</p>
              <ul>
                <li class="main-li">I planned this out</li>
                <li class="sub-li">Step 1</li>
                <li class="sub-li">Step 2</li>
                <li class="main-li">I executed this</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Project 2
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2019 - Jan 2020
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Here is what I did for this project</p>
              <p>Here are some action steps I took</p>
              <ul>
                <li class="main-li">I planned this out</li>
                <li class="sub-li">Step 1</li>
                <li class="sub-li">Step 2</li>
                <li class="main-li">I executed this</li>
              </ul>
            </div>
          </div>
        </div>
        
        <!-- Project 3 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Project 3
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Sept 2018 - June 2019
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Here is what I did for this project</p>
              <p>Here are some action steps I took</p>
              <ul>
                <li class="main-li">I planned this out</li>
                <li class="sub-li">Step 1</li>
                <li class="sub-li">Step 2</li>
                <li class="main-li">I executed this</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Awards / Honors / Certifications
      </div>
    </div>
    
    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">

          <div class="row">
            <div class="col section-content-header">
              Award 1
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              From this org
            </div>
          </div>
          
          <div class="row">
            <div class="col section-content-header">
              Certification
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              What this certification is about
            </div>
          </div>

          <div class="row">
            <div class="col section-content-header">
              Honor
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              Here's what I did
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 100px;">
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/aventador.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Cars</h3>
            <p class="content-text">I have always loved cars and would like to own some amazing ones in the future.</p>
          </div>
        </div>
      </div>
      <div class="interest-img-holder">
        <img src="/static/img/aventador.jpg">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/mtb.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Mountain biking</h3>
            <p class="content-text">Being my favorite hobby, I've been trying to participate in races and learn several tricks.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/yt.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">YouTube</h3>
            <p class="content-text">Always the best to watch a good video on YouTube when I get the time.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}

{% block footer %}
<div class="footer-container">
  <div class="container page-content-container2">
    <div class="row">
      <div class="col-sm-6 contact-me-text">
        FEEL FREE TO REACH OUT TO ME!
      </div>
      <div class="col-sm-6 contact-icons">
        <div>
          <img src="/static/img/contact-icons/gmail.png">
          <span class="contact-info">iammukesh28@gmail.com</span>
        </div>
        <div>
          <a href="https://www.linkedin.com/">
            <img src="/static/img/contact-icons/linkedin.png">
            <span class="contact-info">linkedin.com/myprofile</span>
          </a>
        </div>
        <div>
          <a href="https://github.com/">
            <img src="/static/img/contact-icons/github.png">
            <span class="contact-info">github.com/mukeshbiker</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}